In [38]:
import urllib.request
import urllib.parse
import json
import pandas as pd

In [39]:
url = "https://api.polygon.io/v2/aggs/ticker/MSFT/range/1/day/2021-07-22/2021-07-22?adjusted=true&sort=asc&limit=120&apiKey=46ipIrH5BrzkTqZj7OUvik7XAFOpu8GJ"

In [40]:
stockData = urllib.request.urlopen(url)

In [41]:
my_json = stockData.read()

In [42]:
my_json

b'{"ticker":"MSFT","queryCount":1,"resultsCount":1,"adjusted":true,"results":[{"v":2.3384059e+07,"vw":285.5054,"o":283.84,"c":286.14,"h":286.42,"l":283.42,"t":1626926400000,"n":257353}],"status":"OK","request_id":"6bb4a46fd2247b17d7677771cb7ef255","count":1}'

In [43]:
parsed = json.loads(my_json)

In [44]:
parsed

{'ticker': 'MSFT',
 'queryCount': 1,
 'resultsCount': 1,
 'adjusted': True,
 'results': [{'v': 23384059.0,
   'vw': 285.5054,
   'o': 283.84,
   'c': 286.14,
   'h': 286.42,
   'l': 283.42,
   't': 1626926400000,
   'n': 257353}],
 'status': 'OK',
 'request_id': '6bb4a46fd2247b17d7677771cb7ef255',
 'count': 1}

In [45]:
df = pd.json_normalize(parsed)

In [49]:
df

,ticker,queryCount,resultsCount,adjusted,results,status,request_id,count
0,MSFT,1,1,True,"[{'v': 23384059.0, 'vw': 285.5054, 'o': 283.84...",OK,6bb4a46fd2247b17d7677771cb7ef255,1

In [46]:
#price_data = pd.json_normalize(data=parsed, record_path='results', 
#                            meta=['v','vw', 'o','c', 'h','l','t','n'])

In [50]:
price_data = pd.json_normalize(data=parsed, record_path='results')

In [51]:
price_data

            v        vw       o       c       h       l              t       n
0  23384059.0  285.5054  283.84  286.14  286.42  283.42  1626926400000  257353